<div class="borderBottom fixed-top">
  <div class="container">
    <div class="row headerStyle">
      <div class="col-md-7">
        <div>
          <img
            [routerLink]="['/']"
            class="img-style"
            id="logoHeader"
            src="assets/logoWhite.png"
          />
        </div>
      </div>

      <div class="col-md-5 nav-style">
        <div class="row">
          <div
            [routerLink]="['/games']"
            class="col-4 navPages"
            id="gamesHeader"
          >
            Games
          </div>
          <div [routerLink]="['/devs']" class="col-4 navPages" id="teamHeader">
            Team
          </div>
          <div
            [routerLink]="['/aboutus']"
            class="col-4 navPages"
            id="aboutUsHeader"
          >
            About Us
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="nav justify-content-end fixed-top">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
      >Disabled</a
    >
  </li>
</ul> -->
