<!--Main Text-->
<section>
  <section style="margin-top: 80px">
    <div class="container">
      <div class="row">
        <div class="col-md-12 row rowDescription">
          <div class="titleDescription">
            Our Vision
            <!-- Not related to any series in particular kekw -->
          </div>
          <div class="col subtitleDescription">
            "We truly belive in a better micro entertainment of the world."
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    style="margin-top: 70px; justify-content: center; margin-bottom: 150px"
  >
    <div class="container">
      <div class="row" style="margin-top: 40px; justify-content: center">
        <img class="img1Style" src="assets/companyGroup.jpg" />
      </div>
    </div>
  </section>

  <section>
    <div style="margin-bottom: 50px" class="container">
      <div class="row">
        <div class="powerIndividualTitle">
          Here are some of our company Values
        </div>
        <div style="text-align: left" class="container">
          <div class="row">
            <div class="powerIndividualsubTitle">
              <span>&#8226;</span> It’s best to do one thing really, really
              well.
            </div>
            <div class="powerIndividualsubTitle">
              <span>&#8226;</span> We build globally, we live locally.
            </div>
            <div class="powerIndividualsubTitle">
              <span>&#8226;</span> Invent and Simplify
            </div>
            <div class="powerIndividualsubTitle">
              <span>&#8226;</span> Passion
            </div>
            <div class="powerIndividualsubTitle">
              <span>&#8226;</span> Curiosity
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div style="margin-bottom: 30px; text-align: center" class="container">
      <div class="row">
        <div class="rowDescription">
          <div>
            <div class="helpDescription">
              Always Improving
              <!-- Not related to any series in particular kekw -->
            </div>
            <div class="helpSubDescription">
              Working towards building a better experience to our custumers,
              feel free to contact us at icypeakstudio@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<!--Main Text-->
