<!--Main Text-->
<section>
  <section style="padding-bottom: 60px">
    <div class="container">
      <div
        class="row col-md-12"
        style="display: flex; padding-top: 40px; text-align: center"
      >
        <div
          style="
            font-size: 3em;
            font-weight: 500;
            margin-bottom: 20px;
            color: #3d84a8;
          "
        >
          Our Team!
        </div>
        <div class="col companyDescription">
          We are a group of developers who seeks to bring joy to other players
          wanting the same experience as us when it comes to mobile games!
        </div>
      </div>
    </div>
  </section>
  <section style="padding: 60px 60px; background-color: #e2fcff">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="gameStudio">Leader</div>
          <div class="funGames">Consoli, Caio</div>
          <div class="subtitleDescription">
            I've always been interested in working as a QA Engeneer, always
            looking for bugs and problems, and now as a administrator, I see the
            similarities of the two positions, looking for bugs, managing a
            group and making sure things go as planed.
          </div>
        </div>

        <div
          class="col-md-6"
          style="font-family: Arial, Helvetica, sans-serif; text-align: center"
        >
          <img style="width: inherit" src="assets/caioPic.jpeg" />
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section style="padding: 60px 60px; background-color: #fff">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="gameStudio">Developer Full-Stack</div>
          <div class="funGames">Rodrigues, Guilherme</div>
          <div class="subtitleDescription">
            Since I was kid I used to play games leading me on learn how to
            develop them. Now my objective is to develop the biggest amount of
            games so I can to learn on how to develop better games.
          </div>
        </div>

        <div
          class="col-md-6"
          style="font-family: Arial, Helvetica, sans-serif; text-align: center"
        >
          <img style="width: inherit" src="assets/guiPic.jpeg" />
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section style="padding: 60px 60px; background-color: #e2fcff">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="gameStudio">Developer Back-End</div>
          <div class="funGames">Cavaccini, Fernando</div>
          <div class="subtitleDescription">
            I consider myself a person who leads a life of learning, and it
            would be no different at this point in my studies. I am very eager
            to learn and get to know new technologies, and this project has it
            all. I am learning a game-oriented language and also because it is
            back-end, which is an area that I identify with a lot. I always try
            to do my best to help the team, because we are a phenomenal team and
            I hope we can give this project a long continuity.
          </div>
        </div>

        <div
          class="col-md-6"
          style="font-family: Arial, Helvetica, sans-serif; text-align: center"
        >
          <img style="width: inherit" src="assets/ferdPic.jpeg" />
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section style="padding: 60px 60px; background-color: #fff">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="gameStudio">Developer Front-End</div>
          <div class="funGames">Moreira, Luan</div>
          <div class="subtitleDescription">
            I have experience in the IT area, always collaborating with the team
            and always ready for new challenges. I am always proactive to new
            activities, I also have experience in designing and developing
            applications and websites. I am extremely technical, curious, fickle
            and always looking for innovation.
          </div>
        </div>

        <div
          class="col-md-6"
          style="font-family: Arial, Helvetica, sans-serif; text-align: center"
        >
          <img style="width: inherit" src="assets/luanPic.jpeg" />
        </div>
      </div>
    </div>
  </section>
  <!--  -->
</section>
<!--Main Text-->
