@font-face {
  font-family: ubuntu;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1280px;
  padding: 0 130px;
  user-select: none;
}

.gameStudio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 8px;
  color: #3d84a8;
  font-weight: 900;
  opacity: 90%;
}

.funGames {
  font-size: 2.25em;
  line-height: 48px;
  margin-bottom: 24px;
  font-weight: 600;
}

.subtitleDescription {
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 56px;
  color: #65696c;
}

.gamesLaunched {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 32px;
  opacity: 90%;
}

.iconsStyle {
  width: 32px;
  margin-right: 32px;
  opacity: 70%;
}

.btnCard {
  color: #3d84a8;
  border: 2px solid #3d84a8;
}
button:hover {
  background-color: #3d84a8;
  color: white;
}

.example img {
  width: 100%;
  position: relative;
}

.example .overlay {
  top: 170px;
  right: 460px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

.first-sec {
  padding-top: 0px;
  padding-bottom: 120px;
  height: 534px;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
  .first-sec {
    padding-top: 40px !important;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Beyond Heights */
/*  */
/*  */
/*  */

.jt {
  position: relative;
  font-size: 1.5em;
  font-family: "Staatliches", sans-serif;
  /*   font-family: "frozen", serif;*/
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px #3d84a8;
  color: whitesmoke;
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2);
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3);
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4);
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
  50%,
  100% {
    transform: translateY(0em);
  }
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.debug .jt__row:nth-child(even) {
  color: #5a5a5a;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: #5a5a5a;
}

* {
  box-sizing: border-box;
}

/*  */
/*  */
/*  */
/* FROZEN */
/*  */
/*  */
/*  */

html,
p {
  color: white;
  text-align: center;
}

h2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
  background-color: #3d84a8;
  -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  text-align: center;
  color: transparent;
  font-weight: 900;

  &::before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 55%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    mix-blend-mode: screen;
    animation: shine 1s infinite;
    background-size: 200%;
    text-shadow: 2px 2px 10px rgba(#000, 0.2), -2px 2px 10px rgba(#000, 0.2),
      -2px -2px 10px rgba(#000, 0.2);
  }
}

@keyframes shine {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

/* @font-face {
  font-family: "frozen";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
} */

h2 {
  top: 25%;
  left: 67%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 3em;
  font-family: "frozen", serif;

  margin: 0;
  font-weight: 700;
}
